#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_build:
	cargo build --release

override_dh_auto_install:
	install -Dm755 target/release/glaido debian/glaido/usr/bin/glaido
	install -Dm644 config/default.yaml debian/glaido/usr/share/glaido/default.yaml
	install -Dm644 src/ui/web/static/index.html debian/glaido/usr/share/glaido/static/index.html
	install -Dm644 src/ui/web/static/css/style.css debian/glaido/usr/share/glaido/static/css/style.css
	install -Dm644 src/ui/web/static/js/app.js debian/glaido/usr/share/glaido/static/js/app.js
